.contents_container{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.contents_title{
    margin-left:20px;
}
.contents_button_container{
    font-family: "Akira";
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 40vw;
    grid-gap: 30px;
    transition: 0.1s;
    cursor: pointer;
}
.contents_button_container:hover {
    color: transparent;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $red;
  }
.contents_button_label{
    font-size: 70px;
    line-height: 80%;
    margin-top: 2px;
}
.contents_button_title{
    font-size: 70px;
    line-height: 80%;
}