@font-face {
    font-family: 'Akira';
    src: url('../../assets/fonts/SchmalfetteCP.ttf');
  }
@font-face {
    font-family: 'Ortica';
    src: url('../../assets/fonts/Ortica-Light.otf') format('otf');    
}
@font-face {
    font-family: 'Authentic';
    src: url('../../assets/fonts/AUTHENTICSans-60.otf');    
}