$breakpointmobile: 800px;
$breakpoint: 1300px;
$breakpointmonitor: 1900px;

//Fonts
@import 'fonts', 'colors';

//Sections
@import 'title', 'contents', 'essay', 'carousel';

html{
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
}
body{
    margin: 0;
    position: relative;
    background: $beige;
    @media only screen and (max-width: $breakpoint) {
        overflow-x: hidden;
    }
}

::selection {
    background: rgba(238, 0, 0, 0.4);
  }
  ::-moz-selection {
    background: $red;
  }

.break{
    height: 250px;
    @media only screen and (max-width: $breakpointmobile) {
        height: 150px;
    }
}
.divider{
    width: 100px;
    height: 25px;
    background-color: black;
    margin-bottom: 40px;
    margin-left: 20px;
    @media only screen and (max-width: $breakpointmobile) {
        width: 60px;
        height: 15px;
        margin-bottom: 30px;
    }
}

a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}
a:hover{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $red;
}

body {
    margin: 0;
    padding: 0;
  }

  



  
  .header {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    z-index: 10000;
  }
  
  .progress-container {
    width: 100%;
    height: 10px;
    background: transparent;
  }
  
  .progress-bar {
    height: 10px;
    background: rgb(238, 26, 26);
    width: 0%;
  }